// GOOGLE FONTS URL
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

// START OF SOCIAL MEDIA ICONS
$socialIcons: ("GitHub":#333,"LinkedIn":#0077B5,"Twitter":#38A1F3,"Goodreads":#553b08,"RSS":#bd081c,"DEV":white);

@each $name, $color in $socialIcons{
    .icon-#{$name} {
        transition-duration: 2s;
        color: white;
    }
    .icon-#{$name}:hover {
        color: #{color};
        transform: scale(1.1);
    }

}
