{
  "parser": "babel-eslint", // uses babel-eslint transforms
  "settings": {
    "react": {
      "version": "detect" // detect react version
    }
  },
  "globals": {
    "document": "readonly",
    "window": "readonly"
},
  "env": {
    "node": true // defines things like process.env when generating through node
  },
  
 }