<section id="contact" class="s-contact target-section fadeIn">
    <div class="overlay"></div>
    <div class="row narrow section-intro">
        <div class="col-full">
            <h3>Contact Me</h3>
            <h1>Say Hi!</h1>
            <p class="lead">I'll reach you out as soon as I can.</p>
        </div>
    </div>
    <div class="row contact__main">
        <div class="col-eight tab-full contact__form">
            <form id="contact_form">
                <div class="form-field">
                <input type='text' name='NAME:' id="contactName" class="full-width" placeholder="Name" required />
                <label id="contactName-error" class="error" for="contactName">This field is required.</label>
            </div>
                <div class="form-field">
                    <input name="contactEmail: " type="email" id="contactEmail" placeholder="Email" value="" required aria-required="true" class="full-width" />
                    <label id="contactEmail-error" class="error" for="contactEmail">This field is required.</label>
                </div>
                    <input name="message" type="text" id="contactSubject" placeholder="Subject" value="" class="full-width"/>

                
                <div class="form-field">
                    <textarea name="content" id="contactMessage" placeholder="message" rows="10" cols="40" required="" aria-required="true" class="full-width"></textarea>
                    <label id="contactMessage-error" class="error" for="contactMessage">This field is required.</label>
                </div>
                <input type='submit' value='Submit' class="full-width btn submitbtn" id="submitx" />
                
            </form>
            <div class="alert-box alert  hideit">
                    <p class="alertbox"</p>
                    <i class="im im-x-mark alert-box__close"></i>
                </div>
            <!-- contact-success -->
        </div>
        <div class="col-four tab-full contact__infos">
            <h4 class="h06">Email</h4>
            <p>nirmalhk7@gmail.com<br>
                nirmalhk7@programmer.net
            </p>
            <h4 class="h06">Address</h4>
            <p>
                Block 5,<br> National Institute of Technology Karnataka Surathkal Hostel,<br>
                NITK Surathkal,<br>
                Karnataka- 575025, India
            </p>
        </div>
    </div>
</section>
