<footer>
    <div class="row flicker-3">
        <div class="col-full">
            <ul class="footer-social">
                {% for socialprofile in site.data.socialprofiles %}
                <li>
                    <a class="{{ socialprofile.initial }}" href="{{ socialprofile.url }}">
                        <i class="{{ socialprofile.icon }}" aria-hidden="true"></i>
                        <span>{{ socialprofile.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="col-twelve">
            <div class="copyright flicker-3">
                <span style="color: #1f1f1f">Made with <i class="im im-heart" style="font-size: 14px;"></i> by Nirmal Khedkar</span>
                <span style="color: #1f1f1f">Theme by <a href="https://www.styleshout.com/">styleshout</a> (Copyright Hola 2017)</span>
            </div>
            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div> <!-- end footer-bottom -->
</footer>