<footer>
    <div class="row flicker-3">
        <div class="col-full">
            <ul class="footer-social">
                {% for socialprofile in site.data.socialprofiles %}
                <li>
                    <a class="{{ socialprofile.initial }}" href="{{ socialprofile.url }}">
                        <i class="{{ socialprofile.icon }}" aria-hidden="true"></i>
                        <span>{{ socialprofile.name }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="col-twelve">
            <div class="copyright flicker-3">
                <span style="color: #3d3d3d">Made with <i class="im im-heart" style="font-size: 14px;"></i> by Nirmal Khedkar</span>
                <span style="color: #3d3d3d">Last Updated: {{ site.time | date: '%B %d, %Y' }}</span>
            </div>
            <div class="copyright flicker-3">
                <span style="color: #0d0d0d">Image Credits <a class="hidelink" href="https://www.styleshout.com/" style="color: #0d0d0d">Beast Dreams II</a> by Justin Maller</span>
                <span style="color: #0d0d0d">Theme by <a class="hidelink" href="https://www.styleshout.com/" style="color: #0d0d0d">styleshout</a> (Copyright Hola 2017)</span>
            </div>
            <div class="go-top">
                <a class="smoothscroll" title="Back to Top" href="#top"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
        </div>
    </div> <!-- end footer-bottom -->
</footer>
<style>
.hidelink {
    color: #0d0d0d;

}
</style>