<header class="s-header">
    <a href="{{ site.url }}">
    <div class="header-logo" >
        nirmalhk7
    </div>
</a>
    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li ><a  href="{{ site.url }}" title="Home" {% if page.url == "/" %} class="now"{% endif %}>Home</a></li>
            <li><a  href="{{ site.url }}#about" title="About">About</a></li>
            {% if page.url != "/" %}
            <li><a  href="{{ site.url }}/project.html" title="Works" {% if page.url == "/project.html" %} class="now"{% endif %}>Portfolio</a></li>
            <li><a  href="{{ site.url }}/blog/index.html" title="Blog" {% if page.url == "/blog/" %} class="now"{% endif %}>Blog</a></li>
            {% endif %}
            {% if page.url == "/" %}
            <li><a  href="/#works" title="Works">Works</a></li>
            <li><a  href="/#blog" title="Blog">Blog</a></li>
            {% endif %}
            <li><a class="smoothscroll" href="#contact" title="Contact">Contact</a></li>
        </ul>
    </nav>
    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>
</header>