<header class="s-header">
    <div class="header-logo current" href="{{ site.url }}">
        nirmalhk7
    </div>
    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li><a class="smoothscroll" href="{{ site.url }}" title="Home">Home</a></li>
            <li><a class="smoothscroll" href="{{ site.url }}#about" title="About">About</a></li>
            <li><a class="smoothscroll" href="/#works" title="Works">Portfolio</a></li>
            <li><a class="smoothscroll" href="/#blog" title="Blog">Blog</a></li>
            <li><a class="smoothscroll" href="#contact" title="Contact">Contact</a></li>
        </ul>
    </nav>
    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>
</header>