{{#if resume.projects.length}}
<div class="container publications-container">
  {{> title value="Projects"}}

  {{#each resume.projects}}
  <section class="item">
    {{> section-header name=this.name location=this.location}}
    {{#if highlights}}
      <p class="summary">{{highlights}}</p>
    {{/if}}

  </section>
  {{/each}}
</div>
{{/if}}
