
#tw-header.offset {
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#tw-header.sticky.scrolling {
    @apply opacity-100 visible;
}

#tw-header.scrolling {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}