@import "../scss/constants";

/* ===================================================================
 * # contact - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */
 .s-contact {
    background-color: #151515;
    background-repeat: no-repeat;
    background-position: center, center;
    padding-top: 13.2rem;
    padding-bottom: 12rem;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}
.s-contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .75;
    background-color: #070606;
}
.s-contact .section-intro h1 {
    color: #FFFFFF;
}
.s-contact .section-intro p {
    color: rgba(255, 255, 255, 0.5);
}
.s-contact .section-intro.has-bottom-sep::after {
    background-color: rgba(255, 255, 255, 0.1);
}
.s-contact .form-field {
    position: relative;
}
.s-contact .form-field:after {
    content: "";
    display: table;
    clear: both;
}
.s-contact .form-field label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2.4rem;
    position: absolute;
    bottom: -0.3rem;
    right: .6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    padding: 0 2rem;
    margin: 0;
    color: #FFFFFF;
    background: $accent-color;
}
.s-contact .form-field label::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -6px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $accent-color;
}
.contact__form {
    padding-right: 40px;
}
.contact__form input[type="email"], .contact__form input[type="number"], .contact__form input[type="text"], .contact__form input[type="tel"], .contact__form input[type="url"], .contact__form textarea {
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: .9rem;
    color: rgba(255, 255, 255, 0.75);
}
.contact__form input[type="email"]:focus, .contact__form input[type="number"]:focus, .contact__form input[type="text"]:focus, .contact__form input[type="tel"]:focus, .contact__form input[type="url"]:focus, .contact__form textarea:focus {
    color: white;
    border-bottom: 1px solid white;
}
.contact__form button {
    margin-top: 4.2rem;
    background-color: $accent-color;
    border-color: $accent-color;
}
    /* ------------------------------------------------------------------- 
 * responsive:
 * contact
 * ------------------------------------------------------------------- */
 @media only screen and (max-width: 800px) {
    .contact__form {
        padding-right: 15px;
    }
    .contact__infos {
        padding-top: 3rem;
    }
}
@media only screen and (max-width: 600px) {
    .contact__form {
        padding-right: 10px;
    }
}
@media only screen and (max-width: 400px) {
    .contact__form {
        padding-right: 0;
    }
}