.narrow {
  @apply max-w-[768px] w-[90%];
}

.section-intro {
  h1 {
    @apply text-[4.8rem] font-bold leading-snug mt-0;
  }

  h3 {
    @apply font-semibold text-3xl tracking-[0.15rem];
  }

  &.has-bottom-sep {
    @apply pb-6 relative;

    &::after {
      @apply inline-block h-px w-[240px] bg-black/10 text-center;
    }
  }
}

@media only screen and (max-width: 768px) {
  .section-intro {
    h1 {
      @apply text-[4.2rem];
    }
    h3 {
      @apply text-[1.8rem];
    }
  }

  .page-header__title {
    @apply text-[5.4rem];
  }
}

@media only screen and (max-width: 576px) {
  .section-intro {
    h1 {
      @apply text-6xl;
    }
    h3 {
      @apply text-[1.7rem];
    }
  }
  .page-header {
    @apply pt-[18rem];
  }
  .page-header__content p {
    @apply pr-0;
  }
  .page-header__title {
    @apply text-[4.8rem];
  }
}

@media only screen and (max-width: 400px) {
  .section-intro h1 {
    @apply text-[3.3rem];
  }
  .section-intro h3 {
    @apply text-2xl;
  }
  .page-header__content {
    @apply text-2xl leading-[1.875];
  }
  .page-header__title {
    @apply text-[3.8rem];
  }
}

@media only screen and (max-width: 1200px) {
  .page-header__content {
    @apply max-w-[768px] text-[1.7rem];
  }
  .page-header__cat {
    @apply text-[1.3rem];
  }
  .page-header__title {
    @apply text-6xl;
  }
}

@media only screen and (max-width: 992px) {
  .page-header__content {
    @apply max-w-[700px];
  }
}

@media only screen and (max-width: 500px) {
  .page-header__title {
    @apply text-[4.2rem];
  }
}

.page-header {
  @apply bg-[#0d0a0b] bg-no-repeat bg-center pt-[20.4rem] pb-[7.2rem] relative text-white/50 min-h-[50.4rem];

  &::before,
  &::after {
    @apply block content-[''] absolute top-0 left-0 w-full h-full;
  }

  &::before {
    @apply opacity-75 bg-[#0d0a0b];
  }
}

.page-header__content {
  @apply font-blocky font-normal text-3xl leading-[1.8] relative max-w-[992px] z-[2];

  p {
    @apply pr-12;
  }
}

.page-header__title {
  @apply text-[6.6rem];
}

.page-header__info {
  @apply mb-5;

  .div:last-child {
    @apply mr-0;
  }
}

.page-header__cat {
  @apply inline-block mr-8 mb-1 text-2xl leading-normal tracking-[0.16rem] font-blocky font-bold;
}

.page-header__meta {
  @apply list-none ml-0 pt-10 text-2xl relative;

  &::before {
    @apply block content-[''] h-px w-[100px] bg-white/10 absolute top-0 left-1/2 -ml-[50px];
  }

  li {
    @apply inline-block pl-0 mr-8;

    &:last-child {
      @apply mr-0;
    }

    span,
    a {
      @apply text-white;
    }
  }
}

.blog-content__main {
  @apply px-24;

  img {
    @apply max-w-[1000px] my-12 mx-0 -ml-24;
  }
}
