.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }

      /* ===================================================================
 * # common and reusable theme styles  - (_common-styles.scss)
 *
 * ------------------------------------------------------------------- */
 .wide {
    max-width: 1400px;
}
.narrow {
    max-width: 800px;
}

    /* ------------------------------------------------------------------- 
 * ## section intro - (_common-styles.scss)
 * ------------------------------------------------------------------- */
 .section-intro {
    text-align: center;
    position: relative;
}
.section-intro h1 {
    font-family: "Libre Baskerville", serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.375;
    margin-top: 0;
}
.section-intro h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: #862121;
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin-top: 0;
    margin-bottom: 0;
}
.section-intro.has-bottom-sep {
    padding-bottom: 1.5rem;
    position: relative;
}
.section-intro.has-bottom-sep::after {
    display: inline-block;
    height: 1px;
    width: 240px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}
/* ------------------------------------------------------------------- 
* responsive:
* section-intro
* ------------------------------------------------------------------- */
@media only screen and (max-width: 800px) {
    .section-intro h1 {
        font-size: 4.2rem;
    }
    .section-intro h3 {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 600px) {
    .section-intro h1 {
        font-size: 3.6rem;
    }
    .section-intro h3 {
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 400px) {
    .section-intro h1 {
        font-size: 3.3rem;
    }
    .section-intro h3 {
        font-size: 1.6rem;
    }
}

p.lead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.8;
    margin-bottom: 3.6rem;
    color: #0D0A0B;
}
@media only screen and (max-width: 800px) {
    p.lead {
        font-size: 1.8rem;
    }
}
.full-width {
    width: 100%;
  }