@import "./constants";
@tailwind base;
@tailwind components;
@tailwind utilities;

$home-wallpaper-cutoff: 1100px;

#notfound {
    background-image: url('../images/f1car.jpg');
}

/*1220px needed*/

/*From 0 to 320px display nothing*/


@media only screen and (min-width: 1024px) {
    #contact {
        background-image: url("../images/contact-bg.jpg");
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
    #contact {
        background-image: url("../images/MilkyWay.jpg");
        background-size: cover;
    }
}

@media only screen and (max-width:480px) {
    #profiles {
        display: none;
    }
}

@media only screen and (min-width:480px) {
    #smalldevice {
        display: none;
    }
}

/* ------------------------------------------------------------------- 
 * ## links - (_document-setup.scss) 
 * ------------------------------------------------------------------- */


a:focus {
    outline: none;
}

nav a,
h1 a {
    text-decoration: none;
}


p img {
    margin: 0;
}

em,
i,
strong,
b {
    font-size: inherit;
    line-height: inherit;
    font-style: normal;
    font-weight: normal;
}


small {
    font-size: 1.2rem;
    line-height: inherit;
}

code {
    font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

/* ------------------------------------------------------------------- 
 * ## Lists - (_document-setup.scss)  
 * ------------------------------------------------------------------- */
ol {
    list-style: decimal;
}

ul {
    list-style: disc;
}

li {
    display: list-item;
}

ol,
ul {
    margin-left: 1.7rem;
}

ul li {
    padding-left: .4rem;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: .6rem 0 .6rem 1.7rem;
}

ul.disc li {
    display: list-item;
    list-style: none;
    padding: 0 0 0 .8rem;
    position: relative;
}

ul.disc li::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: map-get($map: $theme-colors, $key: "accent");
    position: absolute;
    left: -10px;
    top: 11px;
    vertical-align: middle;
}

/* ------------------------------------------------------------------- 
 * ## responsive video container - (_document-setup)
 * ------------------------------------------------------------------- */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed,
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* ===================================================================
 * # forms - (_forms.scss)
 *
 * ------------------------------------------------------------------- */
fieldset {
    border: none;
}





/* IE9 and below */
.oldie .ss-custom-select::after {
    display: none;
}

textarea {
    min-height: 25rem;
}

label,
legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: .9rem;
    line-height: 1.714;
    color: #0D0A0B;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-text {
    display: inline-block;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: inherit;
}

label>input[type="checkbox"],
label>input[type="radio"] {
    margin: 0;
    position: relative;
    top: .15rem;
}

/* ------------------------------------------------------------------- 
 * ## style placeholder text - (_forms.scss)
 * ------------------------------------------------------------------- */
.placeholder {
    color: #6c6c6c !important;
}

/* ------------------------------------------------------------------- 
 * ## Change Autocomplete styles in Chrome - (_forms.scss)
 * ------------------------------------------------------------------- */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #cf3e3e;
    transition: background-color 5000s ease-in-out 0s;
}

/* ------------------------------------------------------------------- 
 * ## alert box - (_alert-box.scss)
 * ------------------------------------------------------------------- */
.alert-box {
    padding: 2.1rem 4rem 2.1rem 3rem;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.6;
}

.alert-box__close {
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    cursor: pointer;
}

.alert-box__close.im {
    font-size: 12px;
}

.alert-box--error {
    background-color: #ffd1d2;
    color: #e65153;
}

.alert-box--success {
    background-color: #c8e675;
    color: #758c36;
}

.alert-box--info {
    background-color: #d7ecfb;
    color: #4a95cc;
}

.alert-box--notice {
    background-color: #fff099;
    color: #bba31b;
}

/* ------------------------------------------------------------------- 
 * ## blog-list - (_common-styles.scss)
 * ------------------------------------------------------------------- */
.blog-list {
    margin-top: 6rem;
    margin-left: 0;

    article {
        margin-bottom: 7.2rem;

        &:nth-child(2n+1) {
            padding-right: 50px;
        }

        &:nth-child(2n+2) {
            padding-left: 50px;
        }

        h2 {
            // @extend %heading-3;
            color: map-get($map: $theme-colors, $key: "black");
            margin-top: .3rem;
            margin-bottom: 2.1rem;
            padding-bottom: 2.4rem;
            position: relative;

            &::after {
                // @extend %heading-underline;
            }

            a {
                color: map-get($map: $theme-colors, $key: "black");
            }
        }

        .blog-date {
            // @extend %text-small;
            color: map-get($map: $theme-colors, $key: "accent");

            a {
                color: map-get($map: $theme-colors, $key: "accent");

                &:hover,
                &:focus,
                &:active {
                    color: map-get($map: $theme-colors, $key: "black");
                }
            }
        }

        .blog-cat {
            // @extend %text-small;
            // @extend %uppercase;
            letter-spacing: .2rem;
            color: map-get($map: $theme-colors, $key: "black");
            margin-top: -.9rem;

            a {
                color: map-get($map: $theme-colors, $key: "black");

                &:hover,
                &:focus,
                &:active {
                    color: map-get($map: $theme-colors, $key: "accent");
                }

                &:not(:last-child)::after {
                    content: ", ";
                }
            }
        }
    }
}

/* ------------------------------------------------------------------- 
 * responsive:
 * blog-list
 * ------------------------------------------------------------------- */


/* ===================================================================
 * # home - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */
.s-home {
    background-color: transparent;
    position: relative;
    display: table;

    .shadow-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .8;
        background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
        background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
        background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    
    }
    
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        background-color: #111111;
    }    
}

.no-js .s-home {
    background: #0D0A0B;
}

/* ------------------------------------------------------------------- 
 * ## home content - (_site-layout.scss) 
 * ------------------------------------------------------------------- */

.jumbotron h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: map-get($map: $theme-colors, $key: "accent");
    text-transform: uppercase;
    letter-spacing: .5rem;
    position: relative;
    padding-left: 80px;
    margin-left: -30px;
    margin-bottom: .6rem;
}

.jumbotron h3::before {
    display: block;
    content: "";
    width: 60px;
    height: 2px;
    background-color: map-get($map: $theme-colors, $key: "accent");
    margin-top: -1.5px;
    position: absolute;
    left: 0;
    top: 50%;
}

.jumbotron h1 {
    font-family: "Libre Baskerville", serif;
    color: #FFFFFF;
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.35;
    margin-top: 0;
}

.home-content__main {
    padding-right: 300px;
    position: relative;
}

/* animate .home-content__main
 * ------------------------------------------------------------------- */
html.ss-preload .home-content__main {
    opacity: 0;
}

html.ss-loaded .home-content__main {
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
    opacity: 1;
}



/* ------------------------------------------------------------------- 
 * responsive:
 * home
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1600px) {
    .jumbotron h1 {
        font-size: 4.8rem;
    }

    .home-content__main {
        padding-right: 40px;
        max-width: 680px;
    }
}

@media only screen and (max-width: 500px) {
    .s-home {
        min-height: 654px;
    }

    .jumbotron h3 {
        font-size: 1.5rem;
    }

    .jumbotron h1 {
        font-size: 3.8rem;
    }

    .home-content__main {
        max-width: none;
        width: 85%;
        margin-top: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .masonry-wrap {
        width: auto;
    }

    .jumbotron {
        vertical-align: middle;
    }

    .jumbotron h1 {
        font-size: 3.5rem;
    }

    .home-content__main {
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }

    .home-social {
        display: none;
    }

    html {
        font-size: 9.375px;
    }

    .blog-content__main {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-site-logo {
        width: 100px;
    }

    .footer-social li {
        margin-right: 1.2rem;
    }

    .footer-social li svg {
        font-size: 2.2rem;
    }
}

/* ------------------------------------------------------------------- 
 * ## timeline - (_site-layout.scss) 
 * ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- 
 * responsive:
 * about
 * ------------------------------------------------------------------- */

/* ===================================================================
 * # works - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * ## bricks/masonry - (_site-layout.scss)
 * ------------------------------------------------------------------- */
.masonry-wrap {
    margin-top: 4.8rem;
    max-width: none;
    width: 1600px;
}

.masonry:after {
    content: "";
    display: table;
    clear: both;
}

.masonry .grid-sizer,
.masonry__brick {
    width: 400px;
}

.masonry__brick {
    float: left;
    padding: 0;
}

.item-folio {
    position: relative;
    overflow: hidden;
}

.item-folio__thumb img {
    vertical-align: top;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.item-folio__thumb .shadow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
}

.item-folio__thumb a {
    display: block;
}

.item-folio__thumb a::before {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.item-folio__thumb a::after {
    font-family: georgia, serif;
    font-size: 3rem;
    display: block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    z-index: 1;
}

.item-folio__text {
    position: absolute;
    left: 0;
    bottom: 3rem;
    padding: 0 3rem;
    z-index: 2;
}

.item-folio__title {
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin: 0;
}

.item-folio__cat {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.item-folio__caption {
    display: none;
}

.item-folio__project-link {
    display: block;
    color: #FFFFFF;
    box-shadow: 0 0 0 1px #FFFFFF;
    border-radius: 50%;
    height: 4.2rem;
    width: 4.2rem;
    text-align: center;
    z-index: 500;
    position: absolute;
    top: 3rem;
    left: 3rem;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.item-folio__project-link i {
    font-size: 1.8rem;
    line-height: 4.2rem;
}

.item-folio__project-link::before {
    display: block;
    content: "";
    height: 1px;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 50%;
    left: -3rem;
}

.item-folio__project-link:hover,
.item-folio__project-link:focus,
.item-folio__project-link:active {
    background-color: #FFFFFF;
    color: #000000;
}

/* on hover */
.item-folio:hover .item-folio__thumb a::before {
    opacity: 1;
    visibility: visible;
}

.item-folio:hover .item-folio__thumb a::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.item-folio:hover .item-folio__thumb img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.item-folio:hover .item-folio__project-link {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1700px) {
    .masonry-wrap {
        width: 1400px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 350px;
    }
}

@media only screen and (max-width: 1500px) {
    .masonry-wrap {
        width: 1200px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 400px;
    }

    .jumbotron h1 {
        font-size: 5.2rem;
    }

    .home-content__main {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1300px) {
    .masonry-wrap {
        width: 999px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 333px;
    }
}

@media only screen and (max-width: 1099px) {
    .masonry-wrap {
        width: 90%;
        max-width: 768px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {

    .stats h4 {
        font-size: 1.6rem;
    }

    .jumbotron h1 {
        font-size: 5rem;
    }

    .jumbotron br {
        display: none;
    }

    .home-content__main {
        max-width: 768px;
    }

    .blog-list article:nth-child(2n+1) {
        padding-right: 40px;
    }

    .blog-list article:nth-child(2n+2) {
        padding-left: 40px;
    }

    .blog-content {
        max-width: 992px;
    }

    .blog-content__main {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .blog-content__main img {
        max-width: 992px;
        margin: 3rem 0 3rem -5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .blog-content {
        max-width: 768px;
    }

    .blog-content__main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .blog-content__main img {
        max-width: 768px;
        margin: 3rem 0 3rem -4rem;
    }

    .blog-content__prev,
    .blog-content__next {
        width: 100%;
        float: none;
        padding: 0;
        text-align: left;
        margin-bottom: 1.8rem;
    }

    .stats h4 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {

    .jumbotron h3 {
        font-size: 1.6rem;
        padding-left: 50px;
        margin-left: -10px;
    }

    .jumbotron h3::before {
        width: 40px;
    }

    .jumbotron h1 {
        font-size: 4.4rem;
    }

    .home-content__main {
        max-width: 500px;
    }

    .blog-list article:nth-child(n) {
        padding: 0 15px;
    }

    .blog-content__nav {
        padding-right: 0;
    }

    .blog-content__all {
        position: static;
        text-align: left;
        width: auto;
        margin-top: 1.8rem;
    }

    .stats h4 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 576px) {

    h1,
    .h01 {
        font-size: 3.3rem;
        letter-spacing: -.07rem;
    }

    h5,
    .h05,
    h6,
    .h06 {
        margin-top: 3.6rem;
        margin-bottom: 0.9rem;
    }

    h1,
    .h01,
    h2,
    .h02,
    h3,
    .h03,
    h4,
    .h04 {
        margin-top: 5.1rem;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 100%;
    }

    .jumbotron h1 {
        font-size: 4.2rem;
    }

    .home-content__main {
        max-width: 380px;
        padding: 0;
    }

    .home-social {
        padding-bottom: 10.8rem;
    }

    .home-social::after {
        height: 10.2rem;
    }

    .blog-list article:nth-child(n) {
        padding: 0;
    }

    .blog-list h2 {
        font-size: 2.7rem;
    }

    .blog-content__prev,
    .blog-content__next,
    .blog-content__all {
        text-align: center;
    }

    .blog-content__main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .s-stats {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}

/* ===================================================================
 * # stats - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */
.s-stats {
    background-color: $color-gray;
    text-align: center;

    h4 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-top: 1.8rem;
        color: rgba(0, 0, 0, 0.4);
        font-size: 1.8rem;
        position: relative;
    }
}

/* ===================================================================
 * # blog styles - (_blog.scss)
 *
 * ------------------------------------------------------------------- */
article.blog-single {
    background-color: #FFFFFF;
}

article.blog-single .blog-content {
    padding-top: 7.2rem;
    padding-bottom: 12rem;
}

/* post tags
 * ------------------------------------------------- */
.blog-content__tags {
    margin-top: 6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.blog-content__tags span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #0D0A0B;
    position: relative;
    padding-right: 55px;
    margin-right: 1.5rem;
    margin-top: 1.2rem;
}

.blog-content__tags span::after {
    display: inline-block;
    content: "";
    height: 1px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    right: 0;
}

.blog-content__tags .blog-content__tag-list {
    display: inline-block;
    padding-right: 0;
    margin-right: 0;
}

.blog-content__tags .blog-content__tag-list::after {
    display: none;
}

.blog-content__tags .blog-content__tag-list a {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: inherit;
    color: #797979;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 0 10px;
}

.blog-content__tags .blog-content__tag-list a:hover,
.blog-content__tags .blog-content__tag-list a:focus {
    background-color: #0D0A0B;
    border-color: #0D0A0B;
    color: #FFFFFF;
}

.blog-content__tags .blog-content__tag-list a:last-child {
    margin-right: 0;
}




/* ------------------------------------------------------------------- 
 * responsive:
 * blog content
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 992px) {
    .blog-content__main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .blog-content__main img {
        max-width: 100%;
        margin: 3rem 0 3rem;
    }
}








/* ------------------------------------------------------------------- 
 * ## floated image - (_document-setup)  
 * ------------------------------------------------------------------- */
img.pull-right {
    margin: 1.5rem 0 0 3rem;
}

img.pull-left {
    margin: 1.5rem 3rem 0 0;
}

/* ------------------------------------------------------------------- 
 * ## tables - (_document-setup.scss)  
 * ------------------------------------------------------------------- */
table {
    border-width: 0;
    width: 100%;
    max-width: 100%;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
}

th,
td {
    padding: 1.5rem 3rem;
    text-align: left;
    border-bottom: 1px solid #E8E8E8;
}

th {
    color: #0D0A0B;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700
}

td {
    line-height: 1.5;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}



/* ===================================================================
 * # forms - (_forms.scss)
 *
 * ------------------------------------------------------------------- */
fieldset {
    border: none;
}

/* IE9 and below */
.oldie .ss-custom-select::after {
    display: none;
}

textarea {
    min-height: 25rem;
}

input:focus,
textarea:focus,
select:focus {
    color: map-get($map: $theme-colors, $key: "accent");
    border-bottom: 2px solid map-get($map: $theme-colors, $key: "accent");
}

label,
legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: .9rem;
    line-height: 1.714;
    color: #0D0A0B;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-text {
    display: inline-block;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: inherit;
}

label>input[type="checkbox"],
label>input[type="radio"] {
    margin: 0;
    position: relative;
    top: .15rem;
}

/* ------------------------------------------------------------------- 
 * ## style placeholder text - (_forms.scss)
 * ------------------------------------------------------------------- */
.placeholder {
    color: #6c6c6c !important;
}


/* ===================================================================
 * # home - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */
.s-home {
    width: 100%;
    height: 100vh;
    background-color: transparent;
    position: relative;
    display: table;
}


/* ------------------------------------------------------------------- 
 * ## home content - (_site-layout.scss) 
 * ------------------------------------------------------------------- */
.jumbotron {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: relative;
}



/* animate .home-content__main
 * ------------------------------------------------------------------- */
html.ss-preload .home-content__main {
    opacity: 0;
}

html.ss-loaded .home-content__main {
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
    opacity: 1;
}

/* ------------------------------------------------------------------- 
 * ## home animations - (_site-layout.scss) 
 * ------------------------------------------------------------------- */




/* ------------------------------------------------------------------- 
 * responsive:
 * home
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1600px) {
    .jumbotron h1 {
        font-size: 4.8rem;
    }

    .home-content__main {
        padding-right: 40px;
        max-width: 680px;
    }

    .home-content__buttons {
        position: static;
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    .s-home {
        min-height: 654px;
    }

    .jumbotron h3 {
        font-size: 1.5rem;
    }

    .jumbotron h1 {
        font-size: 3.8rem;
    }

    .home-content__main {
        max-width: none;
        width: 85%;
        margin-top: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .masonry-wrap {
        width: auto;
    }

    .jumbotron {
        vertical-align: middle;
    }

    .jumbotron h1 {
        font-size: 3.5rem;
    }

    .home-content__main {
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }

    .home-social {
        display: none;
    }

    html {
        font-size: 9.375px;
    }

    .blog-content__main {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-site-logo {
        width: 100px;
    }

    .footer-social li {
        margin-right: 1.2rem;
    }

    .footer-social li svg {
        font-size: 2.2rem;
    }
}

/* ------------------------------------------------------------------- 
 * ## timeline - (_site-layout.scss) 
 * ------------------------------------------------------------------- */
.timeline {
    position: relative;
    text-align: left;

    &::before {
        content: "";
        display: block;
        width: 1px;
        height: 120%;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        left: 2rem;
        top: 0;
    }
}

.timeline__block {
    position: relative;
    padding-left: 8rem;
    min-height: 28.8rem;
}

.timeline__bullet {
    background: #0D0A0B;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    margin-left: -0.75rem;
    box-shadow: 0 0 0 9px #E9E9E9;
    position: absolute;
    left: 2rem;
    top: .3rem;

    &[data-first="0"] {
        background: map-get($map: $theme-colors, $key: "accent");
    }
}

.timeline__header {
    .timeline__timeframe {
        font-size: 1.4rem;
        line-height: 1.5;
        text-transform: uppercase;
        letter-spacing: .15rem;
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: .9rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
    }

    h3 {
        line-height: 1.25;
        margin: 0 0 .3rem 0;
    }

    h5 {
        margin-top: 0;
    }
}

.timeline__desc p {
    margin: 0;
    padding-bottom: 3rem;
}



/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1700px) {
    .masonry-wrap {
        width: 1400px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 350px;
    }
}

@media only screen and (max-width: 1500px) {
    .masonry-wrap {
        width: 1200px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 400px;
    }

    .jumbotron h1 {
        font-size: 5.2rem;
    }

    .home-content__main {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1300px) {
    .masonry-wrap {
        width: 999px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 333px;
    }
}

@media only screen and (max-width: 1099px) {
    .masonry-wrap {
        width: 90%;
        max-width: 768px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {

    .stats h4 {
        font-size: 1.6rem;
    }

    .jumbotron h1 {
        font-size: 5rem;
    }

    .jumbotron br {
        display: none;
    }

    .home-content__main {
        max-width: 768px;
    }

    .blog-list article:nth-child(2n+1) {
        padding-right: 40px;
    }

    .blog-list article:nth-child(2n+2) {
        padding-left: 40px;
    }

    .blog-content {
        max-width: 992px;
    }

    .blog-content__main {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .blog-content__main img {
        max-width: 992px;
        margin: 3rem 0 3rem -5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .blog-content {
        max-width: 768px;
    }

    .blog-content__main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .blog-content__main img {
        max-width: 768px;
        margin: 3rem 0 3rem -4rem;
    }

    .blog-content__prev,
    .blog-content__next {
        width: 100%;
        float: none;
        padding: 0;
        text-align: left;
        margin-bottom: 1.8rem;
    }

    .stats h4 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {

    .jumbotron h3 {
        font-size: 1.6rem;
        padding-left: 50px;
        margin-left: -10px;
    }

    .jumbotron h3::before {
        width: 40px;
    }

    .jumbotron h1 {
        font-size: 4.4rem;
    }

    .home-content__main {
        max-width: 500px;
    }

    .blog-list article:nth-child(n) {
        padding: 0 15px;
    }

    .blog-content__nav {
        padding-right: 0;
    }

    .blog-content__all {
        position: static;
        text-align: left;
        width: auto;
        margin-top: 1.8rem;
    }

    .stats h4 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 576px) {

    h1,
    .h01 {
        font-size: 3.3rem;
        letter-spacing: -.07rem;
    }

    h5,
    .h05,
    h6,
    .h06 {
        margin-top: 3.6rem;
        margin-bottom: 0.9rem;
    }

    h1,
    .h01,
    h2,
    .h02,
    h3,
    .h03,
    h4,
    .h04 {
        margin-top: 5.1rem;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 100%;
    }

    .jumbotron h1 {
        font-size: 4.2rem;
    }

    .home-content__main {
        max-width: 380px;
        padding: 0;
    }

    .home-social {
        padding-bottom: 10.8rem;
    }

    .home-social::after {
        height: 10.2rem;
    }

    .blog-list article:nth-child(n) {
        padding: 0;
    }

    .blog-list h2 {
        font-size: 2.7rem;
    }

    .blog-content__prev,
    .blog-content__next,
    .blog-content__all {
        text-align: center;
    }

    .blog-content__main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .s-stats {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}


/* ===================================================================
 * # blog styles - (_blog.scss)
 *
 * ------------------------------------------------------------------- */
article.blog-single {
    background-color: #FFFFFF;
}

article.blog-single .blog-content {
    padding-top: 7.2rem;
    padding-bottom: 12rem;
}



/* blog single page navigation
 * ------------------------------------------------- */
.blog-content__pagenav {
    margin-top: 7.8rem;
    padding-top: 1.8rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.blog-content__nav {
    padding-right: 220px;
}

.blog-content__nav:after {
    content: "";
    display: table;
    clear: both;
}

.blog-content__nav span {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: #797979;
    margin-bottom: 1.2rem;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-content__nav a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0D0A0B;
}

.blog-content__nav a:hover span,
.blog-content__nav a:focus span {
    color: #0D0A0B;
}

.blog-content__prev,
.blog-content__next {
    width: 50%;
    float: left;
    padding-right: 2rem;
}

.blog-content__all {
    text-align: right;
    width: 210px;
    position: absolute;
    top: 2.1rem;
    right: 0;
}

.blog-content__all .im {
    font-size: 1.4rem;
    line-height: 1;
    margin-right: 8px;
    position: relative;
    top: 2px;
}

/* blog entries navigation
 * ------------------------------------------------- */
.blog-entries-nav {
    text-align: center;
    max-width: 576px;
    padding-top: 3.6rem;
}

.blog-entries-nav .im {
    font-size: 1.3rem;
    line-height: 1;
    position: relative;
    top: 2px;
}

/* ------------------------------------------------------------------- 
 * responsive:
 * blog content
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 992px) {
    .blog-content__main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .blog-content__main img {
        max-width: 100%;
        margin: 3rem 0 3rem;
    }
}




/*1220px needed*/

/*From 0 to 320px display nothing*/


@media only screen and (min-width: 1024px) {
    #contact {
        background-image: url("../images/contact-bg.jpg");
        background-size: cover;
    }
}

@media only screen and (max-width: 1024px) {
    #contact {
        background-image: url("../images/MilkyWay.jpg");
        background-size: cover;
    }
}

@media only screen and (max-width:480px) {
    #profiles {
        display: none;
    }
}

@media only screen and (min-width:480px) {
    #smalldevice {
        display: none;
    }
}









/* ------------------------------------------------------------------- 
 * ## Spacing - (_document-setup.scss)  
 * ------------------------------------------------------------------- */

fieldset {
    margin-bottom: 1.5rem;
}

input,
textarea,
select,
blockquote,
table,
p,
ul,
ol,
dl,
form,
.video-container,
.ss-custom-select {
    margin-bottom: 3rem;
}

/* ------------------------------------------------------------------- 
 * ## pace.js styles - minimal  - (_document-setup.scss)
 * ------------------------------------------------------------------- */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: map-get($map: $theme-colors, $key: "accent");
    position: fixed;
    z-index: 900;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
}

.oldie .pace {
    display: none;
}


/* ===================================================================
 * # forms - (_forms.scss)
 */
.ss-custom-select {
    position: relative;
    padding: 0;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        margin: 0;
        line-height: 3rem;
        vertical-align: middle;

        option {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        &::-ms-expand {
            display: none;
        }
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        right: 2.4rem;
        top: 50%;
        -webkit-transform-origin: 66% 66%;
        -ms-transform-origin: 66% 66%;
        transform-origin: 66% 66%;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: all 0.15s ease-in-out;
        transition: all 0.15s ease-in-out;
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
        border-right: 2px solid rgba(0, 0, 0, 0.5);
        height: 8px;
        width: 8px;
        margin-top: -7px;
    }
}

/* IE9 and below */
.oldie .ss-custom-select::after {
    display: none;
}

textarea {
    min-height: 25rem;
}

label,
legend {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: .9rem;
    line-height: 1.714;
    color: #0D0A0B;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label>.label-text {
    display: inline-block;
    margin-left: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: inherit;
}

label>input[type="checkbox"],
label>input[type="radio"] {
    margin: 0;
    position: relative;
    top: .15rem;
}




/* ===================================================================
 * # buttons - (_buttons.scss)
 *
 * ------------------------------------------------------------------- */
/* =================================================================== 
 * # additional components - (_others.scss)
 *
 * ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- 
 * ## additional typo styles - (_additional-typo.scss)
 * ------------------------------------------------------------------- */
/* drop cap 
 * ----------------------------------------------- */
.drop-cap:first-letter {
    float: left;
    margin: 0;
    padding: 1.5rem .6rem 0 0;
    font-size: 8.4rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 6rem;
    text-indent: 0;
    background: transparent;
    color: #000000;
}

/* line definition style 
 * ----------------------------------------------- */
.lining dt,
.lining dd {
    display: inline;
    margin: 0;
}

.lining dt+dt:before,
.lining dd+dt:before {
    content: "\A";
    white-space: pre;
}

.lining dd+dd:before {
    content: ", ";
}

.lining dd+dd:before {
    content: ", ";
}

.lining dd:before {
    content: ": ";
    margin-left: -0.2em;
}






/* ------------------------------------------------------------------- 
 * responsive:
 * blog-list
 * ------------------------------------------------------------------- */


/* ===================================================================
 * # home - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- 
 * ## home content - (_site-layout.scss) 
 * ------------------------------------------------------------------- */




/* animate .home-content__main
 * ------------------------------------------------------------------- */
html.ss-preload .home-content__main {
    opacity: 0;
}

html.ss-loaded .home-content__main {
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

html.no-csstransitions .home-content__main {
    opacity: 1;
}

/* ------------------------------------------------------------------- 
 * ## home animations - (_site-layout.scss) 
 * ------------------------------------------------------------------- */

/* ------------------------------------------------------------------- 
 * responsive:
 * home
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1600px) {
    .jumbotron h1 {
        font-size: 4.8rem;
    }

    .home-content__main {
        padding-right: 40px;
        max-width: 680px;
    }
}

@media only screen and (max-width: 500px) {
    .s-home {
        min-height: 654px;
    }

    .jumbotron h3 {
        font-size: 1.5rem;
    }

    .jumbotron h1 {
        font-size: 3.8rem;
    }

    .home-content__main {
        max-width: none;
        width: 85%;
        margin-top: 150px;
    }
}

@media only screen and (max-width: 400px) {
    .masonry-wrap {
        width: auto;
    }

    .jumbotron {
        vertical-align: middle;
    }

    .jumbotron h1 {
        font-size: 3.5rem;
    }

    .home-content__main {
        width: auto;
        margin-left: 25px;
        margin-right: 25px;
    }

    .home-social {
        display: none;
    }

    html {
        font-size: 9.375px;
    }

    .blog-content__main {
        padding-left: 0;
        padding-right: 0;
    }

    .footer-site-logo {
        width: 100px;
    }

    .footer-social li {
        margin-right: 1.2rem;
    }

    .footer-social li svg {
        font-size: 2.2rem;
    }
}

/* ------------------------------------------------------------------- 
 * ## timeline - (_site-layout.scss) 
 * ------------------------------------------------------------------- */


/* ------------------------------------------------------------------- 
 * responsive:
 * about
 * ------------------------------------------------------------------- */

/* ===================================================================
 * # works - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */



/* ------------------------------------------------------------------- 
 * responsive:
 * works
 * ------------------------------------------------------------------- */
@media only screen and (max-width: 1700px) {
    .masonry-wrap {
        width: 1400px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 350px;
    }
}

@media only screen and (max-width: 1500px) {
    .masonry-wrap {
        width: 1200px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 400px;
    }

    .jumbotron h1 {
        font-size: 5.2rem;
    }

    .home-content__main {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1300px) {
    .masonry-wrap {
        width: 999px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 333px;
    }
}

@media only screen and (max-width: 1099px) {
    .masonry-wrap {
        width: 90%;
        max-width: 768px;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 50%;
    }
}

@media only screen and (max-width: 1200px) {

    .stats h4 {
        font-size: 1.6rem;
    }

    .jumbotron h1 {
        font-size: 5rem;
    }

    .jumbotron br {
        display: none;
    }

    .home-content__main {
        max-width: 768px;
    }

    .blog-list article:nth-child(2n+1) {
        padding-right: 40px;
    }

    .blog-list article:nth-child(2n+2) {
        padding-left: 40px;
    }

    .blog-content {
        max-width: 992px;
    }

    .blog-content__main {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .blog-content__main img {
        max-width: 992px;
        margin: 3rem 0 3rem -5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .blog-content {
        max-width: 768px;
    }

    .blog-content__main {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .blog-content__main img {
        max-width: 768px;
        margin: 3rem 0 3rem -4rem;
    }

    .blog-content__prev,
    .blog-content__next {
        width: 100%;
        float: none;
        padding: 0;
        text-align: left;
        margin-bottom: 1.8rem;
    }

    .stats h4 {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 768px) {

    .jumbotron h3 {
        font-size: 1.6rem;
        padding-left: 50px;
        margin-left: -10px;
    }

    .jumbotron h3::before {
        width: 40px;
    }

    .jumbotron h1 {
        font-size: 4.4rem;
    }

    .home-content__main {
        max-width: 500px;
    }

    .blog-list article:nth-child(n) {
        padding: 0 15px;
    }

    .blog-content__nav {
        padding-right: 0;
    }

    .blog-content__all {
        position: static;
        text-align: left;
        width: auto;
        margin-top: 1.8rem;
    }

    .stats h4 {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 576px) {

    h1,
    .h01 {
        font-size: 3.3rem;
        letter-spacing: -.07rem;
    }

    h5,
    .h05,
    h6,
    .h06 {
        margin-top: 3.6rem;
        margin-bottom: 0.9rem;
    }

    h1,
    .h01,
    h2,
    .h02,
    h3,
    .h03,
    h4,
    .h04 {
        margin-top: 5.1rem;
    }

    .masonry .grid-sizer,
    .masonry__brick {
        width: 100%;
    }

    .jumbotron h1 {
        font-size: 4.2rem;
    }

    .home-content__main {
        max-width: 380px;
        width: 90%;
        padding: 0;
    }

    .home-social {
        padding-bottom: 10.8rem;
    }

    .home-social::after {
        height: 10.2rem;
    }

    .blog-list article:nth-child(n) {
        padding: 0;
    }

    .blog-list h2 {
        font-size: 2.7rem;
    }

    .blog-content__prev,
    .blog-content__next,
    .blog-content__all {
        text-align: center;
    }

    .blog-content__main {
        padding-left: 10px;
        padding-right: 10px;
    }

    .s-stats {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}



/* ------------------------------------------------------------------- 
 * responsive:
 * stats
 * ------------------------------------------------------------------- */


.contact__main {
    max-width: 992px;
    position: relative;
}

.contact__main h4 {
    color: #FFFFFF;
}

.contact__infos {
    font-size: 1.5rem;
}


/* ===================================================================
 * # footer - (_site-layout.scss)
 *
 * ------------------------------------------------------------------- */
footer {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 4.2rem 0 4.2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.2);

    a,
    a:visited {
        color: map-get($map: $theme-colors, $key: "accent");
    }

    a:hover,
    a:focus {
        color: #FFFFFF;
    }
}

.footer-logo {
    display: inline-block;
}

.footer-site-logo {
    display: block;
    width: 130px;
}

/* ===================================================================
 * # blog styles - (_blog.scss)
 *
 * ------------------------------------------------------------------- */
article.blog-single {
    background-color: #FFFFFF;

    .blog-content {
        padding-top: 7.2rem;
        padding-bottom: 12rem;
    }
}






/* ------------------------------------------------------------------- 
 * responsive:
 * blog content
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 992px) {
    .blog-content__main {
        padding-left: 15px;
        padding-right: 15px;
    }

    .blog-content__main img {
        max-width: 100%;
        margin: 3rem 0 3rem;
    }
}

@media only screen and (max-width: 800px) {
    .header-nav-wrap {
        height: auto;
        width: 100%;
        right: auto;
        top: 0;
        left: 0;
        background-color: #000000;
        padding: 120px 40px 21px;
    }
}