@import "./constants";


/* Accordion ==================================================  */

.accordion-header {
  padding: 1.5em 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  transition: all 0.3s;
}



.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  border-bottom: 1px solid transparent;
}

.accordion-header[aria-expanded=false]::after {
  content: "\002b";
  color: map-get($map: $theme-colors, $key: "accent");
  font-size: 1.2em;
  float: right;
  position: relative;
  top: -2px;
  transition: 0.3s all;
}

.accordion-header[aria-expanded=true]::after {
  content: "\2212";
  color: map-get($map: $theme-colors, $key: "white");
  float: right;
  font-size: 1.2em;
  position: relative;
  top: -2px;
  transition: all .3s;
}

.accordion-header[aria-expanded=true] {
  background: map-get($map: $theme-colors, $key: "accent");
  color: white!important;
}

.accordion__item .accordion__item .accordion-header {
  background: $color-gray;
  color: black;
}
