@import "./constants";

/* ------------------------------------------------------------------- 
 * ## mobile menu toggle - (_site-layout.css) 
 * ------------------------------------------------------------------- */
.header-menu-toggle {
  display: none;
  position: absolute;
  right: 29px;
  top: 18px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  span {
    display: block;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    left: 9px;
    top: 50%;
    right: auto;
    bottom: auto;
    background-color: white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
  }

  span::before,
  span::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  span::before {
    top: -9px;
  }

  span::after {
    bottom: -9px;
  }

  &:hover,
  &:focus {
    color: #FFFFFF;
  }


  &.is-clicked span {
    background-color: rgba(255, 255, 255, 0);
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }

  &.is-clicked span::before,
  &.is-clicked span::after {
    background-color: white;
  }

  &.is-clicked span::before {
    top: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  &.is-clicked span::after {
    bottom: 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  .s-header.sticky & {
    top: 12px;
  }

}





/* Accordion ==================================================  */

.accordion-header {
  padding: 1.5em 1.5em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: "montserrat-semibold", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1em;
  transition: all 0.3s;

  .accordion__item.active:last-child & {
    border-radius: none;
  }

  .accordion:first-child>.accordion__item>& {
    border-bottom: 1px solid transparent;
  }

  &[aria-expanded=false]::after {
    content: "\002b";
    color: map-get($map: $theme-colors, $key: "accent");
    font-size: 1.2em;
    float: right;
    position: relative;
    top: -2px;
    transition: 0.3s all;
  }

  &[aria-expanded=true]::after {
    content: "\2212";
    color: map-get($map: $theme-colors, $key: "white");
    float: right;
    font-size: 1.2em;
    position: relative;
    top: -2px;
    transition: all .3s;
  }

  &[aria-expanded=true] {
    background: map-get($map: $theme-colors, $key: "accent");
    color: white !important;
  }

  .accordion__item .accordion__item & {
    background: $color-gray;
    color: black;
  }
}
