/* ------------------------------------------------------------------- 
 * ## Mobile Menu Toggle
 * ------------------------------------------------------------------- */
.header-menu-toggle {
  @apply hidden absolute right-[29px] top-[18px] h-[42px] w-[42px] leading-[42px] font-blocky font-normal text-[1.4rem] uppercase tracking-[.2rem] text-white/50 transition-all duration-300 ease-in-out;

  &:hover, &:focus { @apply text-white; }

  span {
    @apply block w-6 h-0.5 -mt-px absolute left-[9px] top-1/2 bg-white transition-all duration-500 ease-in-out text-transparent;
    font: 0/0 a;
    text-shadow: none;

    &::before, &::after {
      @apply content-[''] w-full h-full bg-inherit absolute left-0 transition-all duration-500 ease-in-out;
    }

    &::before { @apply -top-[9px]; }
    &::after { @apply -bottom-[9px]; }
  }

  &.is-clicked span {
    @apply bg-transparent transition-all duration-100 ease-in-out;

    &::before, &::after { @apply bg-white; }

    &::before {
      @apply top-0 rotate-[135deg];
    }

    &::after {
      @apply bottom-0 rotate-[225deg];
    }
  }
}

.s-header.sticky .header-menu-toggle {
  @apply top-3;
}

/* ------------------------------------------------------------------- 
 * ## Accordion
 * ------------------------------------------------------------------- */
.accordion-header {
  @apply p-[1.5em] uppercase cursor-pointer font-blocky font-semibold text-[1.2rem] tracking-[0.1em] transition-all duration-300;

  &:hover {
    @apply text-accent font-bold;
  }

  &[aria-expanded=false]::after {
    @apply content-['\002b'] text-accent text-[1.2em] float-right relative -top-0.5 transition-all duration-300;
  }
  
  &[aria-expanded=true]::after {
    @apply content-['\2212'] text-white float-right text-[1.2em] relative -top-0.5 transition-all duration-300;
  }
  
  &[aria-expanded=true] {
    background-color: #D93838 !important;
    color: white !important;
  }
}

.accordion__item.active:last-child .accordion-header {
  @apply rounded-none;
}

.accordion:first-child > .accordion__item > .accordion-header {
  @apply border-b border-transparent;
}

.accordion__item .accordion__item .accordion-header {
  @apply bg-[#f1f1f1] text-black;
}