@import "../scss/constants";
 /* ------------------------------------------------------------------- 
 * ## home social - (_site-layout.scss) 
 * ------------------------------------------------------------------- */
 .home-social {
    @apply font-bold m-0 pb-64 absolute bottom-0;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    right: 40px;
}
.home-social::after {
    @apply block h-64 w-px absolute bottom-0;
    content: "";
    background-color: rgba(255, 255, 255, 0.08);
    right: .75rem;
}
.home-social a {
    @apply text-white;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.home-social li {
    @apply relative h-16;
}
.home-social i, .home-social span {
    @apply absolute top-0 leading-10;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.home-social i {
    @apply right-0;
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
}
.home-social span {
    @apply text-accent opacity-0 invisible;
    right: 3.6rem;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}
.home-social li:hover span {
    @apply opacity-100 visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.home-social li:hover i {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}