/* ------------------------------------------------------------------- 
 * ## home social - (_site-layout.scss) 
 * ------------------------------------------------------------------- */
.home-social {
  a {
    @apply text-white transition-all duration-500 ease-in-out;
  }

  li {
    @apply relative h-[3.6rem];
  }

  i,
  span {
    @apply absolute top-0 leading-[3.6rem] transition-all duration-500 ease-in-out;
  }

  i {
    @apply text-[1.8rem] right-0 scale-75;
  }

  span {
    @apply text-accent right-[3.6rem] text-[1.3rem] opacity-0 invisible scale-0 origin-right;
  }

  li:hover span {
    @apply opacity-100 visible scale-100;
  }

  li:hover i {
    @apply scale-100;
  }
}