---
layout: default
title: Spaceride
---
<!--
    ──────────────▐█████───────
──────▄▄████████████▄──────
────▄██▀▀────▐███▐████▄────
──▄██▀───────███▌▐██─▀██▄──
─▐██────────▐███─▐██───██▌─
─██▌────────███▌─▐██───▐██─
▐██────────▐███──▐██────██▌
██▌────────███▌──▐██────▐██
██▌───────▐███───▐██────▐██
██▌───────███▌──▄─▀█────▐██
██▌──────▐████████▄─────▐██
██▌──────█████████▀─────▐██
▐██─────▐██▌────▀─▄█────██▌
─██▌────███─────▄███───▐██─
─▐██▄──▐██▌───────────▄██▌─
──▀███─███─────────▄▄███▀──
──────▐██▌─▀█████████▀▀────
──────███──────────────────-->
<section class="s-home page-hero target-section parallax" data-parallax="scroll" data-natural-width=3000 data-natural-height=2000 data-position-y=center style="background-image:url(/assets/images/Space.jpg)">
    <div class="overlay"></div>
    <div class="home-content">
        <div class="row home-content__main">
            <h3>Official Blog of Nirmal Khedkar</h3>
            <h1 class="page-header__title">
                <a href="#0" title="">
                    {{ page.title }}
                </a>
            </h1>
            <div class="page-header__info">
                <div class="page-header__cat">
                    Technology, Finance, Environment and Future. 
                    <br>
                    Plain and Simple.
                </div>
            </div>
            <div class="home-content__buttons">
                <a href="#blog" class="smoothscroll btn btn--stroke">
                    Liftoff!
                </a>
            </div>
        </div>
    </div>
    <ul class="home-social">
        {% for socialprofile in site.data.socialprofiles %}
        <li>
            <a href="{{ socialprofile.url }}">
                <i class="{{ socialprofile.icon }}" aria-hidden="true"></i>
                <span>{{ socialprofile.name }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    <!-- end home-social -->
</section>
<!-- end page-header -->
<!-- blog
    ================================================== -->
<section class="blog-content-wrap" id="blog">
    <div class="row blog-content">
        <div class="col-full">
            <div class="row narrow section-intro has-bottom-sep" style="padding-top: 5em">
                <div class="col-full text-center">
                    <h3>{{ page.title }}</h3>
                    <h1>The Latest Posts</h1>
                    <p class="lead">
                        {% if paginator.total_pages > 1 %}
                        {{ paginator.page }} of {{ paginator.total_pages }}
                        {% endif %}</p>
                    {% if paginator.total_posts == 0 %}
                    There's nothing here right now. Nevertheless, stay tuned!
                    {% endif %}
                </div>
            </div>
            <div class="blog-list block-1-2 block-tab-full">
                <div class="row masonry-wrap">
                    <div class="masonry">
                        {% for post in paginator.posts %}
                            <div class="masonry__brick">
                                <div class="item-folio">
                                    <div class="item-folio__thumb">
                                        <a href="{{ post.url }}" class="" title="{{ post.excerpt }}">
                                            <img src="/assets/images/blog/{{ post.img }}" alt="">
                                        </a>
                                    </div>
                                    <div class="item-folio__text">
                                        <h3 class="item-folio__title">
                                            {{ post.title }}
                                        </h3>
                                        <p class="item-folio__cat">
                                            {% if post %}
                                            {% assign categories = post.categories %}
                                            {% else %}
                                            {% assign categories = page.categories %}
                                            {% endif %}
                                            {% for category in categories %}
                                            <a href="#{{category}}">{{category}}</a>
                                            {% unless forloop.last %}&nbsp;{% endunless %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="item-folio__caption">
                                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                                    </div>
                                </div> <!-- end item-folio -->
                            </div>
                                    <!--<article class="col-block">
                                <div class="blog-date">
                                    <a href="blog-single.html">{{ page.date | date_to_string }}</a>
                                </div>
                                <h2 class="h01"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                <p>
                                    {{ post.excerpt }}
                                </p>
                                <div class="blog-cat">
                                    {% if post %}
                                    {% assign categories = post.categories %}
                                    {% else %}
                                    {% assign categories = page.categories %}
                                    {% endif %}
                                    {% for category in categories %}
                                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                                    {% unless forloop.last %}&nbsp;{% endunless %}
                                    {% endfor %}
                                </div>
                            </article>-->
                        {% endfor %}
                    </div>
                </div>
            </div><!-- end blog-list -->
        </div> <!-- end col-full -->
    </div> <!-- end blog-content -->
    <div class="row blog-entries-nav">
        <div class="col-full">
            {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="btn btn--stroke">
                <i class="im im-arrow-left"></i>
                Prev
            </a>
            {% endif %}
            {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="btn btn--stroke">
                Next
                <i class="im im-arrow-right"></i>
            </a>
            {% endif %}
            <br>
        </div>
    </div>
</section>
<section class="s-works target-section">
    <div class="row narrow section-intro has-bottom-sep" style="padding-top: 5em">
        <div class="col-full text-center">
            <h3>Browse by Category</h3>
        </div>
    </div>
    <div class="row blog-content">
        <div class="col-full">
            <div class="blog-list block-1-2 block-tab-full">
                {% for category in site.categories %}
                <article class="col-block">
                    <h2 class="h01"><a class="smoothscroll" id="{{ category[0] }}">{{ category[0] }}</a></h2>
                    <ul>
                        {% for post in category[1] %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>
</section>