---
layout: default
title: Main
---
<section id="home" class="s-home page-hero target-section parallax" data-parallax="scroll" data-natural-width=3000 data-natural-height=2000 data-position-y=center>
    <div class="overlay"></div>
    <div class="home-content">
        <div class="row home-content__main">
            <h3>Hey!</h3>
            <h1>
                I'm {{ site.name }}, <br>
                developer and ML enthusiast<br>
                based in Surathkal, India.
            </h1>
            <div class="home-content__buttons">
                <a href="#works" class="smoothscroll btn btn--stroke">
                    Latest Projects
                </a>
                <a href="#about" class="smoothscroll btn btn--stroke">
                    More About Me
                </a>
            </div>
            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>
        </div>
    </div>
    <!--
░░░░░░░██████████████████░░░░░░░
░░░░████▓▓▓█▓▓▓▓▓▓▓▓█▓▓▓███░░░░░
░░░██▓▓█▓▓▓█▓▓▓▓▓▓▓▓█▓▓▓█▓▓█░░░░
░░██████████▓▓▓▓▓▓▓▓██████████░░
░░██──────███████████───────██░░
░███───────██▓▓▓▓▓▓█────────███░
░████───────█▓▓▓▓▓▓█───────████░
░█▓██───────█▓▓▓▓▓▓█───────██▓█░
░██▓█───────█▓▓▓▓▓▓█───────█▓██░
████▓█──────█▓▓▓▓▓▓█──────█▓████
█▓██▓█──────▀██████▀──────█▓██▓█
█▓██▓█────────────────────█▓██▓█
█▓████────────────────────████▓█
█▓██▀──────────────────────▀██▓█
█▓██──█▀▀▀▀▄▄──────▄▄▀▀▀▀█──██▓█
███───█─────▀██▄▄██▀─────█───███
░██───▀█▄▄▄▄█▀────▀█▄▄▄▄█▀───██░
░███────────────────────────███░
░░█▓█──────────────────────█▓█░░
░░█▓▓█────────────────────█▓▓█░░
░░█▓▓▓█──────────────────█▓▓▓█░░
░░█▓▓▓█──────────────────█▓▓▓█░░
░░█▓▓▓▓█▄──────────────▄█▓▓▓▓█░░
░░░█▓▓█▀█──▄▀▀▀▀▀▀▀▀▄──█▀█▓▓█░░░
░░░░█▓█─▀▄▄▀────────▀▄▄▀─█▓█░░░░
░░░░░█▓█─────▄▄▄▄▄▄─────█▓█░░░░░
░░░░░░█▓█▄▄▄██▓▓▓▓██▄▄▄█▓█░░░░░░
░░░░░░░█▓▓▓█▓▓▓▓▓▓▓▓█▓▓▓█░░░░░░░
░░░░░░░░████████████████░░░░░░░░
░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
████████████████████████████████
█░░░░█░░░░░░░██░░░░░░░█░░████░░█
█░░░░█░░██░░░██░░░██░░█░░░███░░█
██░░██░░░░░░███░░░██░░█░░░░░█░░█
██░░██░░██░░░██░░░██░░█░░█░░█░░█
█░░░░█░░███░░██░░░██░░█░░██░░░░█
█░░░░█░░███░░██░░░░░░░█░░███░░░█
████████████████████████████████
████████████████████████████████
██░░░█████░░░█░░░░░░██░░████░░██
██░░░░███░░░░█░░██░░██░░░███░░██
██░░█░░█░░█░░█░░░░░░██░░░░░█░░██
██░░██░░░██░░█░░██░░██░░██░░░░██
██░░███████░░█░░██░░██░░███░░░██
████████████████████████████████

#TeamIronMan #LoveYou3000
-->
    {% include socialaccounts.html %}
    <!-- end home-social -->
</section>
<section id="about" class="s-about target-section">
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full text-center">
            <h3>{{ site.name }}</h3>
            <h1>More About Me</h1>
            <p class="lead">I'm a student in National Institute of Technology Karnataka Surathkal doing a Bachelors in Information Technology.</p>
        </div>
    </div>
    <div class="row about-content">
        <div class="col-six tab-full left">
            {{ content }}
            <div id="smalldevice">
                :
                <ul class="disc">
                    {% for cvprofile in site.data.cvprofiles %}
                    <li>
                        <a href="{{ cvprofile.url }}">
                            {{ cvprofile.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <h5>Finance</h5>
            I strongly think that the best way to earn more is to read more about exactly how money works. As a student, I love to read about money, stock markets and financial incidents around the world.
        </div>
        <div class="col-six tab-full right">
            <h3 style="text-align: center;">I've got some skills.</h3>
            <div class="row">
                {% assign gp = site.data.skills | group_by: "type" %}
                {% for g in gp %}
                <br>
                <h5>{{ g.name }}</h5>
                <hr style="border-color: #af2b2b;margin:10px!important">
                {% for item in g.items %}
                <div class="col-three minicard minicard-box">
                    {{item.name}}
                </div>
                {% endfor %}
                {%endfor%}
            </div>

            <div class="row">
                <h5>Memberships</h5>
                <hr style="border-color: #af2b2b;margin:10px!important">
                <div class="row" style="margin-left:15px">
                <ul class="disc">
                    {% for membership in site.data.memberships %}
                    <li>{{ membership.position }} at <a href="{{membership.clubwebsite}}">{{ membership.club }}</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
            <a href="{{ site.url }}\assets\pdf\General_CV.pdf" class="btn btn--primary full-width">Download My CV</a>
            <a href="#contact" class="smoothscroll btn btn--stroke full-width">Want to Hire?</a>
        </div>
    </div> <!-- end about-content -->
    <div class="row about-content about-content--timeline">
        <div class="col-full text-center">
            <h3>My Work Experience.</h3>
        </div>
        {% for workexperience in site.data.workexperiences %}
        <div class="col-six tab-full left">
            <div class="timeline">
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">{{ workexperience.timeframe }}</p>
                        <h3>{{ workexperience.company }}</h3>
                        <h5>{{ workexperience.post }}</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>{{ workexperience.description }}</p>
                    </div>
                </div> <!-- end timeline__block -->
            </div> <!-- end timeline -->
        </div>
        {% endfor %}
        <div class="col-six tab-full right">
            <div class="timeline">
            </div> <!-- end timeline -->
        </div> <!-- end right -->
    </div> <!-- end about-content timeline -->
</section>
<section id="works" class="s-works target-section">
    <div class="row">
        <div class="col-six tab-full right">
            <div class="narrow section-intro has-bottom-sep">
                <div class="col-full">
                    <h3>I Love Building Things</h3>
                    <h1>See My Latest Projects.</h1>
                    <p class="lead">Find my projects categorized <a href="{{ site.url }}/project">here</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-six tab-full left">
            <div id="#projAPI" class="accordion js-accordion">
                
                
            </div><!-- end of accordion -->
        </div>
    </div>
</section>
<section id="blog" class="s-works target-section">
    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>{{ site.blog }}</h3>
            <h1>Latest From The Blog.</h1>
            <p class="lead">I have strong views on topics like Finance, Technology, Future and Environment. Find me blogging about them <a href="blog/index.html">here</a>.</p>
        </div>
    </div>
</section>